/node_modules/
/.pnpm-store/
*.py[cod]
__pycache__/
*.egg-info/
.env
.venv/
*.sqlite3
dev.db
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.log
.next/
out/
coverage/
.coverage